/* home section */
/* home-01-section */
/* .section{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    overflow: auto;
    display: flex;
    background: #000;
} */
/* .section-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
} */
.home-head-01{
  position: relative;
  background-image: url("../../../Lib/images/header-image.jpg");
  height: 751px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-01-head-container{
    position: relative;
    top: 25%;
    /* top: 25%;
    left: 55%; */
    width: 50%;
    height: 45%;
    padding: 2%;
    background: #000;
}
.home-01-head-text-one{
    font-size: 2.7rem;
    font-weight: 100;
}
.home-01-subhead-text-one{
    font-size: 3.2rem;
    line-height: .97;
}

/* home-02-section */
.home-head-02{
    height: 100%;
    display: flex;
}
.left-02{
    background-color: #fff;
    border-bottom: 2rem solid #f7c512; 
}
.left-02-main-container{
    padding: 7% 0 12.5% 7%;
}
.left-02-container{
    padding: 0px 10% 3.5% 4%;
}
.home-02-head-text{
    font-size: 4rem;
}
.home-02-subhead-text{
    font-size: 3.4rem;
    margin-bottom: 5%;
}
.home-02-sub-1{
    font-size: 1.4rem;
    line-height: 1.2;
    letter-spacing: .5px;
    font-weight: 100;
    margin-bottom: 7%;
    width: 80%;
}
.home-02-sub-2{
    font-size: 1rem;
    line-height: 1.56;
    letter-spacing: .5px;
}
.right-02{
    background-image: url('../../../Lib/images/welding-image.jpg');;
    background-size: cover;   
    background-repeat: no-repeat;
    /* height: 100%; */
    width: 100%;
}
.yellow-line{
    background-color: #f7c512;
    width: 103%;
    /* height: 5%; */
    /* width: 100%;
    overflow: hidden; */
}

/* home-03-04-section */
.head-03-04 {
    height: 90%;
}
.left-03{
    height: 100%;
}
.no-03{
    font-size: 4rem;
  }
  .approach-03{
    width: max-content;
    font-size: 3.4rem;
    position: relative;
  }
  .approach-03:after{
    left: 0;
    z-index: 1;
    position: absolute;
    bottom: 15px;
    content: '';
    width: 100%;
    height: 3px;
    background: #fff;
}
.left-03-mid-container{
    background: #1e1e1e;
    margin-bottom: 5px;
}
.approach-content{
    line-height: 1.88;
}
.left-03-bottom-container{
    background: #1e1e1e;
    color: #9b9b9b;
    cursor: pointer;
}
.read-03-content{
    transition: 1s;
    margin-left: 0px;
    width: 35%;
}
.left-03-bottom-container:hover .read-03-content{
    margin-left: 10px;
    color: #fff;
    font-family: "Helvetica-Regular";
}
.left-03-bottom-container:hover .left-03-arrow{
    color: #f7c512 !important;
    text-shadow: 1px 1px 1px #ccc;
    /* font-size: 1.5em; */
}
.right-04{
    height: 100%;
}
.no-04{
    font-size: 4rem;
}
.services-04{
    width: max-content;
    font-size: 3.4rem;
    position: relative;
}
.services-04:after{
    left: 0;
    z-index: 1;
    position: absolute;
    bottom: 15px;
    content: '';
    width: 100%;
    height: 3px;
    background: #fff;
}
.right-04-mid-container{
    background: #1e1e1e;
    margin-bottom: 5px;
}
.services-content{
    line-height: 1.88;
}
  .right-04-bottom-container{
    background: #1e1e1e;
    color: #9b9b9b;
    cursor: pointer;
}
.read-04-content{
    transition: 1s;
    margin-left: 0px;
    width: 35%;
}
.right-04-arrow{
    transition: 1s;
    margin-left: 0px;
}
  .right-04-bottom-container:hover .read-04-content{
    margin-left: 10px;
    color: #fff;
    font-family: "Helvetica-Regular";
}
.right-04-bottom-container:hover .right-04-arrow{
    color: #f7c512 !important;
    margin-left: 10px;
    text-shadow: 1px 1px 1px #ccc;
    /* font-size: 1.5em; */
}

/* home-05-section */
.head-05{
    height: 80%;
}
.white-bg{
    background: #fff;
    height: 300px;
}
.company-stats-text{
    font-size: 3.4rem;
    margin: auto;
    text-align: center;
} 
.overlay{
    background: #1e1e1e;
    width: 95%;
    /* height: 120%; */
    position: relative;
    margin: auto;
    /* display: block; */
    /* justify-content: center; */
    z-index: 1;
}
.overlay > .row{
    flex-wrap: nowrap;
    text-align: center;
}
.black-bg{
    background: #111;
    height: 300px;
}
.block1{
    border-right: 1px solid rgba(255,255,255,.1);
    border-left: 1px solid rgba(255,255,255,.1);
  }
  .img-sub{
    background: white;
    width: 10%;
    height: 10%;
    margin: auto;
  }
  .counter-title{
    margin: auto;
    height: 60%;
    text-align: center;
  }
  .timer{
    margin: auto;
    text-align: center;
  }
  .timer1{
    letter-spacing: 1.6px;
    font-size: 3rem;
  }
  .block2{
    border-right: 1px solid rgba(255,255,255,.1);
  }
  .timer2{
    letter-spacing: 1.6px;
    font-size: 3rem;
    text-align: center;
  }
  .block3{
    border-right: 1px solid rgba(255,255,255,.1);
  }
  .timer3{
    letter-spacing: 1.6px;
    font-size: 3rem;
    text-align: center;
  }
  .block4{
    border-right: 1px solid rgba(255,255,255,.1);
  }
  .timer4{
    letter-spacing: 1.6px;
    font-size: 3rem;
    text-align: center;
  }

/* for mobile phones */
@media only screen and (max-width: 768px) {
    .home-head-01{
      justify-content: start !important;
    }
    .home-01-head-container{
        position: relative;
        top: 43%;
        right: 82px;
        width: 80%;
        height: 28%;
        padding: 3%;
        background: #000;
    }
    .home-01-head-text-one{
      font-size: 32px;
    }
    .home-01-subhead-text-one{
      font-size: 30px;
      width: 100%;
      line-height: 34.4px;
    }
    .home-head-02{
        height: 70%;
    }
    .home-02-head-text{
        font-size: 43px;
        padding: 40px 20px 0px 20px;
    }
    .home-02-subhead-text{
        font-size: 34px;
        margin-bottom: 10px;
        position: relative;
        top: -16px;
    }
    .home-02-sub-1{
        font-size: 19px;
        line-height: 1.2;
        letter-spacing: .5px;
        font-weight: 100;
        margin-bottom: 7%;
        width: 100%;
    }
    .home-02-sub-2{
        font-size: 13px;
        line-height: 1.56;
        letter-spacing: .5px;
    }
    .right-02{
        background-image: none;
        background-size: none;   
        background-repeat: none;
        width: 0%;
    }
    .left-03{
        padding-left: 35px;
        padding-right: 35px;
        height: 55%;
    }
    .head-03-04 {
        height: 660px;
        padding: 0 25px 0 25px;
    }
    .no-03{
        font-size: 43px;
    }
    .approach-03{
        width: max-content;
        font-size: 44px;
        position: relative;
    }
    .approach-content{
        font-size: 15px;
        padding: 13px;
    }
    .left-03-bottom-container {
        padding: 13px;
        width: 100%;
    }
    .read-03-content{
        width: 50% !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .left-03-arrow{
      width: 50% !important;
    }
    .fa-long-arrow-right:before {
      content: "\f178";
      float: right;
    }
    .right-04{
      padding-left: 35px;
      padding-right: 35px;
      height: 55%;
    }
    .no-04{
        font-size: 43px;
    }
    .services-04{
        width: max-content;
        font-size: 44px;
        position: relative;
    }
    .services-content{
        font-size: 15px;
        padding: 13px;
    }
    .right-04-bottom-container {
        padding: 13px;
        width: 100%;
    }
    .read-04-content{
        width: 50% !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .right-04-arrow{
      width: 50% !important;
    }
    .head-05 {
      position: relative;
      top: 90px;
      height: 720px;
    }
    .company-stats-text{
      font-size: 45px;
      text-align: center;
      padding: 20px 0px 5px 0px;
    }
    .overlay{
      width: 100%;
      height: 490px;
    }
    /* .overlay > .row{
      display: inline-block;
      flex-wrap: nowrap;
      margin-right: 0px;
      margin-left: 0px;
      position: relative;
    } */
    .overlayRow .col-md-3{
      position: absolute;
      /* width: 0%;
      padding-right: 0px;
      padding-left: 0px;
      height: 100%; */
    }
    .img-sub{
      position: absolute;
      top: 0px;
      left: 45%;
    }
    .block1{
      top: 35px;
      left: 0px;
      width: 50% !important;
      border-left: none;
      padding: 20px !important;
    }
    .block2{
      top: 35px;
      left: 50%;
      width: 50% !important;
      padding: 20px !important;
      border-right: none;
    }
    .block3{
      left: 0%;
      top: 200px;
      width: 50% !important; 
      padding: 20px !important;
    }
    .block4{
      left: 50%;
      top: 200px;
      width: 50% !important;
      padding: 20px !important;
      border-right: none;
    }
    .counter-title{
      font-size: 14px;
      width: 100%;
      height: 150%;
    }
    .timer{
        font-size: 27px;
        position: relative;
        top: 10px; 
    }
    .white-bg{
      height: 90px;
    }
    .black-bg {
      height: 530px;
    }
    
}