body {
  margin: 0;
  color: #fff !important;
  background-color: black !important;
}

/* colors */
.white{
  color: #fff;
}
.black{
  color: #000;
}
.yellow{
  color: #f7c512;
}

.home {
  position: absolute;
  top: 0;
  background: black;
  /* height: 100%; */
  width: 100%;
  overflow-x: hidden;
}

.aboutUs {
  position: absolute;
  background: black;
  height: 100%;
  width: 100%;
}

.approach {
  background: black;
}

.faciEquip {
  background: black;
}

.services {
  background: black;
}

.slide-enter,
.slide-exit {
  transition: transform 1000ms ease-out;
}

.slide-enter {
  transform: translateX(100%);
}

.slide-enter.slide-enter-active {
  transform: translateX(0%);
}

.slide-exit {
  position: absolute;
  /* top: 0; */
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(-100%);
}


