/* font family */
.alternate-gothic{
    font-family: "Alternate-Gothic";
  }
  .roboto-regular{
    font-family: "Roboto-Regular";
  }
  .helvetica-regular{
    font-family: "Helvetica-Regular";
  }
  .helvetica-light{
    font-family: "Helvetica-Light";
  }
  /* font-face */
  @font-face {
    font-family: "Helvetica-Light";
    src: url("../../Lib/fonts/Helvetica-Font/helvetica-light-587ebe5a59211.ttf");
  }
  @font-face {
    font-family: "Helvetica-Regular";
    src: url("../../Lib/fonts/Helvetica-Font/Helvetica.ttf");
  }
  @font-face {
    font-family: "Helvetica-Bold";
    src: url("../../Lib/fonts/Helvetica-Font/Helvetica-Bold.ttf");
  }
  @font-face {
    font-family: "Helvetica-Medium";
    src: url("../../Lib/fonts/Helvetica-Font/HelveticaNeueMedium.ttf");
  }
  @font-face {
    font-family: "Alternate-Gothic";
    src: url("../../Lib/fonts/Alternate-Gothic//Alternate-Gothic-No2-D-Regular.ttf");
  }
  @font-face {
    font-family: "Roboto-Medium";
    src: url("../../Lib/fonts/roboto/Roboto-Medium.ttf");
  }
  @font-face {
    font-family: "Roboto-Regular";
    src: url("../../Lib/fonts/roboto/Roboto-Regular.ttf");
  }
  @font-face {
    font-family: "Roboto-Bold";
    src: url("../../Lib/fonts/roboto/Roboto-Bold.ttf");
  }